<%- include('../../partials/head.ejs', {title: '404, Page not found'}) %>

    <div class="container my-container">
        <h1 style="color: red;" class="display-4 text-center">404, Page not found</h1>
    </div>

<%- include('../../partials/footer.ejs') %>
</body>

</html>