<%- include('../../partials/head.ejs', {title: '500, Internal Server Error'}) %>

    <div class="container my-container">
        <h1 style="color: red;" class="display-4 text-center">500, Internal Server Error</h1>
    </div>

<%- include('../../partials/footer.ejs') %>
</body>

</html>