<nav class="nav">
    <div class="nav-wrapper">
        <div id="main">
            <button class="openbtn" onclick="openNav()">☰</button>
        </div>

        <div class="logo" id="logo">
            <a href="/dashboard">
                <img src="/images/logo.png" alt="Logo" width="150">
            </a>
        </div>

        <form action="/dashboard/search" method="GET">
            <div class="search">
                <input type="search" class="searchTerm" placeholder="Search" name="query">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i></a>
                </button>
            </div>
        </form>
    </div>
</nav>



